* {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1 {
    background: #4682b4;
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

h1 a {
    text-decoration: none;
    color: #fff;
}


h2, h1 + p {
    text-align: center;
    margin-bottom: 20px;
}

.items {
    border: 1px solid #4682b4;
    max-width: 600px;
    margin: 0 auto;
}

.item {
    padding: 20px;
    border-bottom: 1px dotted #5d9ed4;
}

.item:last-child {
    border-bottom: none;
}

.item a {
    display: block;
    width: 200px;
    line-height: 2;
    margin: 0 auto;
    color: #4682b4;
    text-align: center;
    text-decoration: none;
}

.item a:hover {
    background: #a6cded;